.music-app {
  text-align: center;
}

.string-line {
  stroke: black;
  stroke-width: 1;
  position: absolute
}

.note-container {
  position: relative;
}

.note-boxes {
  position: absolute;
  color: black;
  z-index: 2;
}

.note-text {
  position: absolute;
  z-index: 4;
  font-family: "Arial";
  font-size: 16;
  fill: black;
}


.strings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.string-container {
  display: flex;
  flex-direction: row;
}



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */